body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom, #FFFF00, #FF0000) */
    background-color: #F0F0F0;
}
.center{
    display: flex;
}

.center-right{
    background-color: white;
}

.center-img{
    margin: auto;
}